{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title> Never Stand You UP </title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/style.css' %}" />
    <script src="{% static 'draw/script.js' %}"></script>
</head>

<body>
  <div class="title-bar">NAME OF EVENT</div>
  <div class="event-description-col">Event description here.</div>
  <div class="calendar-container"> 
    <!-- To be filled with availability-calendar-col, one for each user. -->
  </div>
  <div class="arrival-status-row"> 
    Click here to update the arrival status, or change the available time.
  </div>
  <div class="ideas-row"> 
    Ideas: vote for where to eat.
  </div>
  <div class="chat-row"> 
    Chat here.
  </div>
</body>
</html>
