{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title> Never Stand You UP </title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/style.css' %}" />
    <script src="{% static 'draw/script.js' %}"></script>
</head>

<body>
  <div class="title-bar">NAME OF EVENT</div>
  <div class="event-description-col">Event description here. <br /> Date: Jul 26th</div>
  <div class="calendar-container"> 
    <!-- To be filled with availability-calendar-col, one for each user. -->
  </div>
  <div class="arrival-status-row"> 
    Click here to update the arrival status, or change the available time. <br />
    <form name="arrival_status_form" action="javascript:handleArrStatusUpdate()">
      What's your name? <br />
      <input type="text" name="username" placeholder="Your name please :)"> <br />
      When will you be available? (two number between 8~20 -> 8am~8pm) <br />
      From <input type="number" name="start_time" value="8">
      to <input type="number" name="end_time" value="20">
      <br />
      <br />
      What's your arrival status? Have you arrived or are you stil coming? <br />
      <input type="text" name="arrival_status" placeholder="OnMyWay!">
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
  <div class="ideas-row"> 
    Ideas: vote for where to eat.
    <form>
      <input type="text" width=100px height=200px></input>
      <input type="submit" value="Submit">
    </form>
  </div>
  <div class="chat-row"> 
    Chat here.
    <form>
      <input type="text" width=100px height=200px></input>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>
